%h1 Listing seats

%table
  %tr
    %th Table
    %th Occupied
    %th
    %th
    %th

  - @seats.each do |seat|
    %tr
      %td= seat.table.number
      %td= seat.occupied
      %td= link_to 'Show', seat
      %td= link_to 'Edit', edit_seat_path(seat)
      %td= link_to 'Destroy', seat, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Seat', new_seat_path
