= simple_form_for([@event, @guest], :html => {:class => 'form'}) do |form|
    = form.input :name
    = form.input :table_id, :collection => @event.tables, :label_method => :number
    = form.input :assigned_seats
    = form.button :submit, :class => 'btn btn-primary'
