%p#notice= notice

%p
  %b Name:
  = @guest.name
%p
  %b Event:
  = @event.name
%p
  %b Table:
  = @guest.table.number
%p
  %b Assigned seats:
  = @guest.assigned_seats
%p
  %b Registered:
  = @guest.registered

= link_to 'Edit', edit_event_guest_path(@event, @guest)
\|
= link_to 'Back', @event
