%p#notice= notice

%p
  %b Name:
  = @event.name
%p
  %b Event date:
  = @event.event_date

= link_to 'Edit', edit_event_path(@event)
\|
= link_to 'Back', events_path
\|
= link_to 'Tables', tables_path
