= simple_form_for([@table.event, @table], :html => {:class => 'form'}) do |form|
  = form.input :event_id, :collection => Event.all, :selected => @table.event.id
  = form.input :number
  = form.input :max_seats
  = form.button :submit, :class => 'btn btn-primary'