= simple_form_for(@table, :html => {:class => 'form'}) do |f|
  = f.input :event_id, :collection => Event.all, :selected => @table.event.id
  = f.input :number
  = f.input :max_seats
  = f.button :submit
