%h1 Listing tables

%table
  %tr
    %th Number
    %th Max seats
    %th Event
    %th
    %th
    %th

  - @tables.each do |table|
    %tr
      %td= table.number
      %td= table.max_seats
      %td= table.event.name
      %td= link_to 'Show', table
      %td= link_to 'Edit', edit_table_path(table)
      %td= link_to 'Destroy', table, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Table', new_table_path
