%p#notice= notice

%p
  %b Event:
  = @table.event.name
%p
  %b Number:
  = @table.number
%p
  %b Max seats:
  = @table.max_seats
%p
  %b Seats:
  = render :partial => 'seats', :locals => { :seats => @table.seats }

= link_to 'Edit', edit_table_path(@table)
\|
= link_to 'Back', event_path(@table.event)
