%p#notice= notice

%p
  %b Number:
  = @table.number
%p
  %b Max seats:
  = @table.max_seats
%p
  %b Event:
  = @table.event

= link_to 'Edit', edit_table_path(@table)
\|
= link_to 'Back', tables_path
