= content_for :title do
  Tables for #{@table.event.name}

.row
  .col-md-6
    %dl
      %dt Event:
      %dd
        = @table.event.name
  .col-md-6
    %dl
      %dt Table Number:
      %dd
        = @table.number
.row
  .col-md-6
    %dl
      %dt Max Seats:
      %dd
        = @table.max_seats
.row
  .col-md-12.text-right
    = link_to 'Edit', edit_event_table_path(@table.event, @table), :class => 'btn btn-primary'
    = link_to 'Back', event_path(@table.event), :class => 'btn btn-default'